<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haifeng.common.mapper.special.StrongBaseScoreMapper">

    <select id="countByUnique" resultType="int">
        SELECT COUNT(*) FROM t_strong_base_score
        WHERE university_id = #{universityId}
        AND province = #{province}
        AND subject_type = #{subjectType}
        AND major_name = #{majorName}
        <if test="year != null">AND year = #{year}</if>
        <if test="year == null">AND year IS NULL</if>
    </select>

    <select id="countByUniqueExclude" resultType="int">
        SELECT COUNT(*) FROM t_strong_base_score
        WHERE university_id = #{universityId}
        AND province = #{province}
        AND subject_type = #{subjectType}
        AND major_name = #{majorName}
        <if test="year != null">AND year = #{year}</if>
        <if test="year == null">AND year IS NULL</if>
        AND id != #{excludeId}
    </select>

</mapper>
